*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;

}

body{

    background-color: #eeebe6;
    overflow: hidden;
   
}


/* Progress Bar */

.progress-bar
{
    height: 2px;
    background-color: red;
    animation-name: progress;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;

}

@keyframes progress {

    0%
    {
        width: 0%;
    }

    25%
    {
        width: 25%;
    }
    
    50%
    {
        width: 50%;
    }

    75%
    {
        width: 75%;
    }
    100%
    {
        width: 100%;
    }

}



.header
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px 10px 20px;
}

.header img[alt="sign"]
{
    height: 100px;
    width: 200px;
    margin: 5px 0px;
}

.header ul

{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 50px;
}

.header a
{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}
.header li
{
    list-style-type: none; 
    margin-right: 50px; 
}
.header a:hover 
{
    cursor: pointer;
    box-sizing: border-box;
    font-weight:600;
    text-decoration: underline;
    background-color: white;
    border-radius: 12px;
}


.search
{
    height: 30px;
    width: 300px;
    border-radius: 5px;
}



.Home-Hero-section
{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    padding: 20px 0px;
}

#Right-Hero-Section
{
    height:500px ;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#Right-Hero-Section h1{
    font-size: 50px;
    line-height: 80px;
    word-spacing: 6px;
}

#Right-Hero-Section h2{
    font-size: 30px;
    line-height: 70px;
    word-spacing: 4px;
}
#name
{
    display: inline;
    font-size: 70px;
    color: deeppink;
}



#Right-Hero-Section p
{
    font-size: 20px;
}

#line
{
    height: 2px;
    width: 500px;
    background-color: black;
}

.qoute
{
    font-size: 30px;
    color: black;
    font-weight: 900;
    text-align: center;
}
.qoute-author
{
    font-size: 15px;
    margin-left: 350px;
    margin-top: 20px;
    color: black;
    font-weight: 500;
}


