*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;

}

body{

    background-color: #eeebe6;
  
   
}


/* Progress Bar */

.progress-bar
{
    height: 2px;
    background-color: red;
    animation-name: progress;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;

}

@keyframes progress {

    0%
    {
        width: 0%;
    }

    25%
    {
        width: 25%;
    }
    
    50%
    {
        width: 50%;
    }

    75%
    {
        width: 75%;
    }
    100%
    {
        width: 100%;
    }

}



.header
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px 10px 20px;
}

.header img[alt="sign"]
{
    height: 100px;
    width: 200px;
    margin: 5px 0px;
}

.header ul

{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 50px;
}

.header a
{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}
.header li
{
    list-style-type: none; 
    margin-right: 50px; 
}
.header a:hover 
{
    cursor: pointer;
    box-sizing: border-box;
    font-weight:600;
    text-decoration: underline;
    background-color: white;
    border-radius: 12px;
}


.search
{
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

/* main */
.about
{
    margin: 20px 85px;
    height: 600px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

}

#aboutPhoto
{
    border: 2px solid white;
    margin: 80px;
    width: 20vw;
}

#aboutPhoto img
{
    height: 100%;
    width: 100%;

    object-fit: contain;

}

#aboutBlock 
{
overflow: scroll;
height: 90%;
width: 50%;
margin: 0px 80px;
padding: 50px;
border: 1px  solid black;
border-radius: 100px 10px;
background-color: rgb(229, 224, 224);
box-shadow: 0 30px 80px rgba(241, 237, 237, 0.15);


}


#aboutBlock  h1
{
    font-size: 40px;
    display: inline;
    color: deeppink;
    line-height: 60px;
    letter-spacing: 2px;
    word-spacing: 4px;
    
}





.para1
{
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 23px;
    line-height: 32px;
}

#webdev
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   height: 90%;
   width: 60%;
   margin: 100px 25px;
   text-align: center;
}

#webdev img
{
    height: 60%;
    width: 60%;
    object-fit: contain;    
    margin: 10px;
}
#whatYouWas
{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 40%;
    margin: 100px 25px;
    text-align: center;
}

#whatYouWas img

{
    height: 60%;
    width: 60%;
    object-fit: contain;    
    margin: 10px;
}

.ques
{
    font-size: 35px;
    line-height: 50px;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-weight: 600;
}

.ans
{
    font-size: 22px;
    line-height: 26px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 40px 5px;
    margin: 5px;
    background-color: rgb(229, 224, 224);
box-shadow: 0 30px 80px rgba(241, 237, 237, 0.15);
}

#inspiration-box
{
    height: 95%;
    width: 100%;
    display: grid;
    grid-template-columns:  auto auto;
  
}

#inspiration
{
    width: 40vw;
    text-align: center;
    padding: 20px;
}

#inspiration img{
    
    height: 60%;
    width: 60%;
    object-fit: contain;    
    margin: 5px;
}

#inspiration p{
    font-size: 20px;
    line-height: 25px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 40px 5px;
    margin: 5px;
    background-color: rgb(229, 224, 224);
box-shadow: 0 30px 80px rgba(241, 237, 237, 0.15);
}

#inspiration h3
{
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin: 0px 0px 15px 0px;
}
